
{include file="public:title"/}
<script type="text/javascript" src="__PUBLIC__/home/js/cropper.min.js"></script>
<link href="__PUBLIC__/home/css/cropper.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/ImgCropping.css" rel="stylesheet" type="text/css">
<style>
 #progress{
	    display: block;

		width: 180px;
		
		height: 38px;
		
		background-color: #f7f7f7;
		
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		
		border-radius: 10px;
		
		background-image: linear-gradient(to bottom,#f5f5f5,#f9f9f9);
		
		float: left;
		
		margin-left: 10px;
    }

    #finish{
        background-color: #149bdf;
        background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
        background-size:40px 40px;
        height: 100%;
    }
    form{
        margin-top: 50px;
    }
    .file {
	    position: relative;
	
		display: block;
		
		background: #00EE76;
		
		border: 1px solid #00EE76;
		
		border-radius: 4px;
		
		padding: 0px 12px;
		
		overflow: hidden;
		
		color: #fff;
		
		text-decoration: none;
		
		text-indent: 0;
		
		line-height: 35px;
		
		width: 75px;
		
		float: left;
	}
	.file input {
	    position: absolute;
	    display: inline-block;
	    font-size: 100px;
	    right: 0;
	    top: 0;
	    opacity: 0;
	}
	.file:hover {
	    background: #00EE76;
	    border-color: #00EE76;
	    color: #fff;
	    text-decoration: none;
	}

</style>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">添加音乐</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" lay-filter="">
              <div class="layui-form-item">
                <label class="layui-form-label">音乐标题</label>
                <div class="layui-input-block">
                  <input type="text" name="name" value="" autocomplete="off" placeholder="请输入音乐标题" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                  <label for="ser_pic" class="layui-form-label">上传音乐</label>
                  <div class="layui-input-block">
                      <div style="float: left;margin-right: 10px;">
                          <input type="text" name="path" id="ser_pic2" value="" style="float: left;width: 800px;" required="" autocomplete="off" class="layui-input" readonly>
                      </div>
                      <a href="javascript:;" class="file"><i class="layui-icon">&#xe67c;</i>上传音乐
					    <input type="file" name="file" id="file">
					  </a>
                      <div id="progress">
					     <div id="finish" style="width: 0%;text-align: right;line-height: 40px;font-size:14px;color:#C0FF3E;border-radius: 5px;" progress="0"></div>
					  </div>
                    
                  </div>
                </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="setmyinfo">点击提交</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
        
	    var fileForm = document.getElementById("file");
	    var xhr = new XMLHttpRequest();
        var form_data = new FormData();
        const LENGTH = 1024 * 2560;
        var start = 0;
        var end = start + LENGTH;
        var blob;
        var blob_num = 1;
        var is_stop = 0
        var arr = ["audio/mp3",'audio/mpeg'];
	    var upload = new upload();
	    fileForm.onchange = function(){
	        upload.addFileAndSend(this);
	    }
	    
	    function upload(){
	         //对外方法，传入文件对象
	        this.addFileAndSend = function(that){
		        console.log(that.files[0].type)
	            if(contains(arr,that.files[0].type)){
	                var file = that.files[0];
	                blob = cutFile(file);
	                sendFile(blob,file);
	                blob_num += 1;
	            }else{
	                console.log('上传文件后缀名不合法');
	            }
	        }
	    }
	    
	    //验证上传文件后缀名
        function contains(arr, obj) {
            //while
            var i = arr.length;
            while(i--) {
                if(arr[i] === obj) {
                    return true;
                }
            }
            return false;
        }
		//切割文件
        function cutFile(file){
            var file_blob = file.slice(start,end);
            start = end;
            end = start + LENGTH;
            return file_blob;
        };
        //发送文件
        function sendFile(blob,file){
            var total_blob_num = Math.ceil(file.size / LENGTH);
            form_data.append('file',blob);
            form_data.append('blob_num',blob_num);
            form_data.append('total_blob_num',total_blob_num);
            form_data.append('file_name',file.name);
            xhr.open('POST',"{:url('index/musicAction')}",false);
            xhr.onreadystatechange = function () {
                var progress;
                var progressObj = document.getElementById('finish');
                if(total_blob_num == 1){
                    progress = '100%';
                }else{
                    progress = Math.ceil(Math.min(100,(blob_num/total_blob_num)* 100 )) +'%';
                }
                progressObj.style.width = progress;
                progressObj.innerHTML = progress;
                var t = setTimeout(function(){
                    if(start < file.size && is_stop === 0){
                        blob = cutFile(file);
                        sendFile(blob,file);
                        blob_num += 1;
                    }else{
                        setTimeout(t);
                    }
                },2000);
            }
            xhr.send(form_data);
            var data = JSON.parse(xhr.responseText);
            $('input[name=path]').val(data.file_path);
            
        }


        layui.use(['form','layer'], function(){
          $ = layui.jquery;
          var form = layui.form,layer = layui.layer;
          //监听提交
          form.on('submit(setmyinfo)', function(data){
            //发异步，把数据提交给php
            $.ajax({
                url:"{:url('index/addmusic')}",
                type:"POST",
                data: {
                    data:JSON.stringify(data.field)
                },
                success:function (data) {
                    var status = JSON.parse(data);
                    if (status.icon == 6){
                        layer.msg(status.msg,{icon: status.icon,time:1000},function () {
                            window.parent.location.reload();
                       });
                    } else {
                        layer.msg(status.msg,{icon: status.icon,time:1000});
                    }
                }
            });
			return false;
        });

    });
</script>
</body>
</html>