{include file="public:title"/}
<body>
<div class="layui-container" style="width: 1000px;">
                        <div class="layui-row layui-col-space15 margin15">
                            <section class="layui-card" style="margin-left: -7px;">
                                <div class="layui-card-body" style="width:800px;height:500px;margin-left:-31px">
                                    <div class="video" id="video" data-url="{$path['path']}" style="width: 100%;"></div>
                                </div>
                            </section>
                        </div>
                    </div>
  <script type="text/javascript">
        layui.config({
                base: '/static/layuiadmin/layui_exts/'
                }).extend({
                    ckplayer: 'ckplayer'
                }).use(['jquery', 'ckplayer'], function() {
                    var $ = layui.$,
                        ckplayer = layui.ckplayer;
                    var vUrl = $('#video').data('url');
                    videoObject = {
                    container: '#video',
                    loop: true,
                    autoplay: false,
                    video: [
                        [vUrl, 'video/mp4']
                    ]
                    };
                    var player = new ckplayer(videoObject);
                });

</script>
</body>
</html>