{include file="public:title"/}
<script type="text/javascript" src="__PUBLIC__/home/js/cropper.min.js"></script>
<link href="__PUBLIC__/home/css/cropper.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/ImgCropping.css" rel="stylesheet" type="text/css">
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">采集管理</div>
          <div class="layui-card-body" pad15>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('关键词库','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>关键词库</button>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('文章库','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>文章库</button>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('采集历史','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>采集历史</button>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('添加采集规则','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>添加采集规则</button>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('添加采集规则','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>添加采集规则</button>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('添加采集规则','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>添加采集规则</button>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('添加采集规则','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>添加采集规则</button>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('添加采集规则','{:url('art/addtype')}')"><i class="layui-icon">&#xe608;</i>添加采集规则</button>
            <table class="layui-table">
                <thead>
                  <tr>
                    <th>规则名称</th>
                    <th>采集次数</th>
                    <th>文章总数</th>
                    <th>节点信息</th>
                    <th>节点状态</th>
                    <th>操作</th>
                </thead>
                <tbody>
                  
                </tbody>
            </table>
      </div>
    </div>
  </div>
  <script>
    function del(id)
    {
      layer.confirm("您确定删除吗？可能会影响到已上线文章",function(){
          $.ajax({
            url:"{:url('art/type')}",
            data:{id:id},
            type:"post",
            success:function(data)
            {
              var status = JSON.parse(data);
              layer.msg(status.msg,{icon: status.icon,time:1000},function () {window.location.reload();});
            }
          });
      });
    }
  </script>
</body>
</html>