{include file="public:title"/}
<script type="text/javascript" src="__PUBLIC__/home/js/cropper.min.js"></script>
<link href="__PUBLIC__/home/css/cropper.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/ImgCropping.css" rel="stylesheet" type="text/css">
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">公告列表</div>
          <div class="layui-card-body" pad15>
              <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('添加公告','{:url('notice/add')}')"><i class="layui-icon">&#xe608;</i>添加公告</button>
            <table class="layui-table">
                <thead>
                  <tr>
                    <th width="25" align="center">
                      <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                    </th>
                    <th>公告名称</th>
                    <th>公告关键词</th>
                    <th>创建时间</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </thead>
                <tbody>
                  {empty name='list'}
                   <tr align="center" style="height:500px;"><td colspan="6">暂无公告</td></tr>
                  {else}
                  {volist name="list" id="vv"}
                    <tr>
                      <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vv.id}'><i class="layui-icon">&#xe605;</i></div>
                     </td>
                     <td>{$vv['name']}</td>
                     <td>{$vv['keywords']}</td>
                     <td>{:date('Y年m月d日 h:i:s',$vv['createtime'])}</td>
                     <td>{empty name="$vv['issuetime']"}暂未发布{else}{:date('Y年m月d日 h:i:s',$vv['issuetime'])}{/empty}</td>
                     <td>
                        <button class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe629;</i></button>
                        <button class="layui-btn layui-btn-sm" onclick="status('{$vv['id']}','{$vv['status']}')"><i class="layui-icon">&#xe628;</i></button>
                        <button class="layui-btn layui-btn-sm" onclick="crm_admin_show('编辑公告','{:url('notice/update',['id'=>$vv['id']])}')">
                          <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm" onclick="del('{$vv['id']}')"><i class="layui-icon">&#xe640;</i></button>
                     </td>
                    </tr>
                  {/volist}
                  {/empty}
                </tbody>
            </table>
            <div class="page">
             {$list->render()}
            </div>
      </div>
    </div>
  </div>
  <script>
    function del(id)
    {
      layer.confirm("您确定删除此公告吗",function(){
          $.ajax({
            url:"{:url('notice/del')}",
            data:{id:id},
            type:"post",
            success:function(data)
            {
              var status = JSON.parse(data);
              layer.msg(status.msg,{icon: status.icon,time:1000},function () {window.location.reload();});
            }
          });
      });
    }
    function status(id,status)
    {

      if(status==1){
        var tishi="您确定撤回此公告吗？";
      }else{
        var tishi="您确定发布此公告吗？";
      }
      layer.confirm(tishi,function(){
        $.ajax({
          url:"{:url('notice/status')}",
          data:{id:id,status:status},
          type:"post",
          success:function(data){
            var status = JSON.parse(data);
            layer.msg(status.msg,{icon: status.icon,time:1000},function () {window.location.reload();});
          }
        });
      });
      
    }
  </script>
</body>
</html>